<div class="jumbotron animated fadeInUp">
  <h1>LIL TRICKS !</h1>
  <p>¿No te pasa? que cuando navegas por internet mientras estudias o trabajas te encuentras con miles de cosas interesantes pero no tienes tiempo para ellas en ese momento y cuando estas listo... no encuentras en ningun lugar lo que tanto te interesaba...
    <br><br>
    En "Lil Tricks" podras guardar diferentes "Tricks" con informacion y asi no volveras a perder tus sitios o archivos de interes.
    <br><br>
    Guarda enlaces, peliculas, musica, series, libros, videos en fin lo que tu desees... lo mejor compartelo con todo el mundo en las redes sociales y presume de tus increibles gustos y pasatiempos.
    
    .</p>
  <p><a routerLink="/tricks/add" class="btn btn-primary btn-lg">INICIAR</a></p>
</div>